alembic
opencv-python
flask
flask_debugtoolbar
flask_login
flask_mail
email_validator
flask_migrate
flask_sqlalchemy
flask_wtf
numpy
pillow
sqlalchemy
python-dotenv

--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.0.1+cpu
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.15.2+cpu