{% extends "detector/base.html" %}
{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <div class="col-md-10 text-right dt-image-register-btn">
    <a href="{{ url_for("detector.upload_image") }}" class="btn btn-primary">
      Upload Image
    </a>
  </div>
  {% for user_image in user_images %}
    <div class="card col-md-7 dt-image-content">
      <header class="d-fex justify-content-between">
        <div class="dt-image-username"> {{ user_image.User.name }}</div>
        <div class="d-flex flex-row-reverse">
          <div class="p-2">
            <form
              action="{{ url_for("detector.delete_image", image_id=user_image.UserImage.id) }}"
              method="POST"
            >
              {{ delete_image_form.csrf_token }}
              {% if current_user.id == user_image.User.id %}
                {{ delete_image_form.submit(class="btn btn-danger") }}
              {% else %}
                {{ delete_image_form.submit(class="btn btn-danger", disabled="disabled") }}
              {% endif %}
            </form>
          </div>
          <div class="p-2">
            <form
              action="{{ url_for("detector.detect", image_id=user_image.UserImage.id) }}"
              method="POST"
            >
              {{ detector_form.csrf_token }}
              {% if current_user.id == user_image.User.id and user_image.UserImage.is_detected == False %}
                {{ detector_form.submit(class="btn btn-primary") }}
              {% else %}
                {{ detector_form.submit(class="btn btn-primary", disabled="disabled") }}
              {% endif %}
            </form>
          </div>
        </div>
      </header>
      <section>
        <img
          src="{{ url_for("detector.get_image", filename=user_image.UserImage.image_path) }}"
          alt="Uploaded Image"
        />
      </section>
      <footer>
        {% for tag in user_image_tag_dict[user_image.UserImage.id] %}
          #{{ tag.tag }}
        {% endfor %}
      </footer>
    </div>
  {% endfor %}
{% endblock %}