{% extends "crud/base.html" %}
{% block title %}Users{% endblock %}
{% block content %}
    <h2>Users</h2>
    <a href={{ url_for("crud.register") }}>Register</a>
    <table>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>EMAIL</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>
                    <a href="{{ url_for('crud.edit_user', id=user.id ) }}">{{ user.id }}</a>
                </td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}