.contact-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.contact-heading {
    animation: fadein 0.3s ease-in-out, move 0.3s ease-in-out;
    margin: 0;
    padding: 0 0 0.65rem 0;
}

.contact-subheading {
    /* typing animation */
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.1rem solid black;

    animation: typing 2.5s steps(40, end), blinking-text 0.75s step-end infinite;
    animation-delay: 0.5s;
    margin: 0;
    padding: 0 0 0.65rem 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: black;

    @media (max-width: 768px) {
        font-size: 1.2rem;
    }

    @media (max-width: 576px) {
        font-size: 1rem;
    }

    @media (max-width: 320px) {
        font-size: 0.8rem;
    }


}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blinking-text {
    from {
        border-color: transparent;
    }
    to {
        border-color: transparent;
    }
}

.contact-underline {
    position: absolute;
    left: 0;
    width: 0;
    height: 0.2rem;
    background-color: orange;
    animation: underline-slide 1.35s infinite;
}


.contact-sumit:hover {
    animation: blinking-text-alpha 0.8s infinite;
}

.contact-back {
    width: 8rem;
    height: 2.7rem;
    border: 0.1rem solid black;
    border-radius: 0.5rem;

    font-size: 1rem;
    font-weight: 600;
    color: black;
    background-color: transparent;

}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & textarea {
        border: 0.1rem solid black;
    }

    & input {
        border: none;
    }

    & input, & textarea {
        background-color: transparent;
        color: black;
        font-size: 1.2rem;
        padding: 0.5rem;
        margin-bottom: 1rem;
        width: 100%;
        transition: all 0.3s ease-in-out;

        &:focus {
            border-bottom: 0.1rem solid white;
        }
    }

    & input:hover {
        border-bottom: 0.1rem solid orange;
    }
}

.contact-msg {
    margin: 0 0 0.75rem 0;

    & li {
        animation: fadein 0.3s ease-in-out, move 0.3s ease-in-out, blinking-text-alpha 0.8s infinite;
        color: #ff587a;
        font-weight: 600;
    }
}