{% extends "auth/base.html" %}
{% block title %}Sign In{% endblock %}
{% block content %}
    <h2>Sign In</h2>
    <form
            action="{{ url_for("auth.signin", next=request.args.get("next")) }}"
            method="POST"
            novalidate="novalidate"
    >
        {% for msg in get_flashed_messages() %}
            <p style="color:  red;">{{ msg }}</p>
        {% endfor %}
        {{ form.csrf_token }}
        <p>{{ form.email.label }} {{ form.email(placeholder="Email Address") }}</p>
        {% for error in form.email.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <p>{{ form.password.label }} {{ form.password(placeholder="Password") }}</p>
        {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}