{% extends "detector/base.html" %}
{% block content %}
  <div class="mx-auto dt-auth-main">
    <div class="dt-auth-signup card">
      <header>Sign Up</header>
      <form
        action="{{ url_for("auth.signup", next=request.args.get("next")) }}"
        method="POST"
        class="form-signin"
      >
        {{ form.csrf_token }}
        {% for message in get_flashed_messages() %}
          <div class="dt-auth-flash">{{ message }}</div>
        {% endfor %}
        {{ form.name(size=30, placeholder="Name", class="form-control dt-auth-input", autocomplete="off") }}
        {{ form.email(placeholder="Email Address", class="form-control dt-auth-input") }}
        {{ form.password(placeholder="Password", class="form-control dt-auth-input") }}
        {{ form.submit(class="btn btn-md btn-primary btn-block dt-auth-btn") }}
      </form>
    </div>
  </div>
{% endblock %}